services:
  forgejo:
    container_name: 'forgejo'
    image: 'codeberg.org/forgejo/forgejo:14'
    restart: 'unless-stopped'
    command: >
      sh -c '
        echo "Starting container entrypoint..."

        rm -f /data/gitea/conf/app.ini

        /usr/bin/s6-svscan /etc/s6 &
        S6_PID=$$!

        echo "Waiting for Forgejo service to become available..."
        while ! curl -s -f http://localhost:3000 > /dev/null; do
          if ! kill -0 $$S6_PID 2>/dev/null; then
            echo "s6 supervisor process exited prematurely. Check logs."
            exit 1
          fi
          sleep 1
        done

        echo "Forgejo is up. Running provisioning script."
        /opt/provision.sh

        echo "Provisioning finished. Bringing Forgejo process to foreground."
        wait $$S6_PID
      '
    networks:
      - 'default-frontend'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './provision.sh:/opt/provision.sh:ro'
      - './config/template.app.ini:/etc/templates/app.ini:ro'
      - 'forgejo-data:/data'
    environment:
      DOMAIN: '${FORGEJO_DOMAIN}'
      SECRET_KEY: '${FORGEJO_SECRET_KEY}'
      LFS_JWT_SECRET: '${FORGEJO_LFS_JWT_SECRET}'
      DB_TYPE: 'postgres'
      DB_HOST: '${FORGEJO_POSTGRES_SERVER}'
      DB_PORT: '${FORGEJO_POSTGRES_PORT}'
      DB_NAME: '${FORGEJO_POSTGRES_DATABASE}'
      DB_USER: '${FORGEJO_POSTGRES_USER}'
      DB_PASSWD: '${FORGEJO_POSTGRES_PASSWORD}'
      SMTP_PROTOCOL: '${FORGEJO_SMTP_PROTOCOL}'
      SMTP_SERVER: '${FORGEJO_SMTP_SERVER}'
      SMTP_PORT: '${FORGEJO_SMTP_PORT}'
      SMTP_USER: '${FORGEJO_SMTP_USER}'
      SMTP_PASSWORD: '${FORGEJO_SMTP_PASSWORD}'
      SMTP_FROM: '${FORGEJO_SMTP_FROM_ADDRESS}'
      HTTP_PORT: '3000'
      SSH_PORT: '2222'
      SSH_LISTEN_PORT: '2222'
      OAUTH_PROVIDER_NAME: '${FORGEJO_OAUTH_PROVIDER_NAME}'
      OAUTH_AUTO_DISCOVER_URL: 'https://${FORGEJO_OAUTH_PROVIDER_DOMAIN}/.well-known/openid-configuration'
      OAUTH_CLIENT_ID: '${FORGEJO_OAUTH_CLIENT_ID}'
      OAUTH_CLIENT_SECRET: '${FORGEJO_OAUTH_CLIENT_SECRET}'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.forgejo.rule=Host(`${FORGEJO_DOMAIN}`)'
      - 'traefik.http.routers.forgejo.entrypoints=websecure'
      - 'traefik.http.routers.forgejo.tls=true'
      - 'traefik.http.routers.forgejo.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.forgejo.tls.domains[0].main=${FORGEJO_DOMAIN}'
      - 'traefik.http.routers.forgejo.middlewares=intranet@file'
      - 'traefik.http.services.forgejo.loadbalancer.server.port=3000'
      - 'traefik.tcp.routers.forgejo-ssh.entrypoints=ssh-forgejo'
      - 'traefik.tcp.routers.forgejo-ssh.rule=HostSNI(`*`)'
      - 'traefik.tcp.services.forgejo-ssh.loadbalancer.server.port=2222'

volumes:
  forgejo-data:
    external: true

networks:
  default-frontend:
    external: true
