[Unit]
Description=Docker Host
After=network.target docker.service
Requires=docker.service

[Service]
RestartSec=10
Restart=always

Environment="IP=127.0.0.1"
Environment="PROJECT_PATH=/path/to/local/clone/of/docker-host"

ExecStart=/usr/local/bin/docker-compose --file "${PROJECT_PATH}/docker-compose.yml" up
ExecStop=/usr/local/bin/docker-compose  --file "${PROJECT_PATH}/docker-compose.yml" stop

[Install]
WantedBy=docker.service
