services:
  watchtower:
    container_name: 'watchtower'
    image: 'ghcr.io/nicholas-fedor/watchtower:1.14.2@sha256:db1fef2dca3e1d435a704ad22bcdc64529c3b3e1d4b4e04aa8a565193d60057b'
    restart: 'unless-stopped'
    user: '65005:65005'
    read_only: true
    mem_limit: 64M
    cap_drop:
      - 'ALL'
    security_opt:
      - 'no-new-privileges'
    networks:
      - 'watchtower-isolated'
      - 'watchtower-dockerproxynet'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
    environment:
      DOCKER_HOST: 'tcp://watchtower-dockerproxy:2375'
      WATCHTOWER_CLEANUP: '${WATCHTOWER_CLEANUP}'
      WATCHTOWER_MONITOR_ONLY: '${WATCHTOWER_MONITOR_ONLY}'
      WATCHTOWER_SCHEDULE: '${WATCHTOWER_SCHEDULE}'
      WATCHTOWER_NOTIFICATION_URL: '${WATCHTOWER_NOTIFICATION_URL}'
    hostname: '${WATCHTOWER_HOSTNAME}'
    labels:
      - 'com.centurylinklabs.watchtower.monitor-only=true'
    depends_on:
      - 'watchtower-dockerproxy'

  watchtower-dockerproxy:
    extends:
      file: '../../libs/docker-socket-proxy/docker-compose.yml'
      service: 'docker-socket-proxy'
    container_name: 'watchtower-dockerproxy'
    command:
      - '-allowfrom=watchtower'
      - '-allowHEAD=/_ping'
      - '-allowGET=/v1\..{2}/(version|containers/.*|images/.*)|/_ping'
      - '-allowPOST=/v1\..{2}/(containers/.*|images/.*|networks/.*)'
      - '-allowDELETE=/v1\..{2}/(containers/.*|images/.*)'
    user: '65006:${WATCHTOWER_DOCKER_GID}'
    networks:
      - 'watchtower-dockerproxynet'

networks:
  watchtower-isolated:
    name: 'watchtower-isolated'
    driver: 'bridge'
    attachable: false
  watchtower-dockerproxynet:
    name: 'watchtower-dockerproxynet'
    internal: true
    attachable: false
