services:
  n8n:
    container_name: 'n8n'
    image: 'docker.n8n.io/n8nio/n8n:2.8.1'
    restart: 'unless-stopped'
    networks:
      - 'default-frontend'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - 'n8n-data:/home/node/.n8n'
    environment:
      N8N_EDITOR_BASE_URL: 'https://${N8N_DOMAIN}'
      WEBHOOK_URL: 'https://${N8N_WEBHOOK_DOMAIN}'
      DB_TYPE: 'postgresdb'
      DB_POSTGRESDB_HOST: '${N8N_POSTGRES_SERVER}'
      DB_POSTGRESDB_PORT: '${N8N_POSTGRES_PORT}'
      DB_POSTGRESDB_DATABASE: '${N8N_POSTGRES_DATABASE}'
      DB_POSTGRESDB_USER: '${N8N_POSTGRES_USER}'
      DB_POSTGRESDB_PASSWORD: '${N8N_POSTGRES_PASSWORD}'
      N8N_RUNNERS_ENABLED: true
      N8N_DIAGNOSTICS_ENABLED: false
      N8N_DIAGNOSTICS_CONFIG_FRONTEND: ''
      N8N_DIAGNOSTICS_CONFIG_BACKEND: ''
      N8N_VERSION_NOTIFICATIONS_ENABLED: false
      N8N_VERSION_NOTIFICATIONS_ENDPOINT: ''
      N8N_VERSION_NOTIFICATIONS_INFO_URL: ''
      N8N_TEMPLATES_ENABLED: false
      N8N_TEMPLATES_HOST: ''
      TZ: 'Europe/Zurich'
      GENERIC_TIMEZONE: 'Europe/Zurich'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.n8n.rule=Host(`${N8N_DOMAIN}`)'
      - 'traefik.http.routers.n8n.entrypoints=websecure'
      - 'traefik.http.routers.n8n.tls=true'
      - 'traefik.http.routers.n8n.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.n8n.tls.domains[0].main=${N8N_DOMAIN}'
      - 'traefik.http.routers.n8n.middlewares=intranet@file'
      - 'traefik.http.services.n8n.loadbalancer.server.port=5678'

volumes:
  n8n-data:
    external: true

networks:
  default-frontend:
    external: true
