version: '3.8'

services:
  <%= applicationName %>:
    extends:
      file: '../../libs/base/docker-compose.yml'
      service: 'base'
    container_name: '<%= applicationName %>'
    image: ''
    networks:
      - 'default-frontend'
    volumes:
      - '<%= applicationName %>-data:/data'

volumes:
  <%= applicationName %>-data:
    external: true

networks:
  default-frontend:
    external: true
