services:
  bonob:
    container_name: 'bonob'
    image: 'ghcr.io/simojenki/bonob:v0.10.0'
    restart: 'unless-stopped'
    user: '65011:65011'
    read_only: true
    mem_limit: 256M
    cap_drop:
      - 'ALL'
    security_opt:
      - 'no-new-privileges'
    networks:
      - 'default-frontend'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
    environment:
      BNB_URL: 'https://${BONOB_DOMAIN}'
      BNB_SECRET: '${BONOB_ENCRYPTION_KEY}'
      BNB_SONOS_AUTO_REGISTER: 'true'
      BNB_SONOS_DEVICE_DISCOVERY: 'true'
      BNB_SONOS_SEED_HOST: '${BONOB_SONOS_SEED_HOST}'
      BNB_SONOS_SERVICE_ID: '${BONOB_SONOS_SERVICE_ID}'
      BNB_SONOS_SERVICE_NAME: '${BONOB_SONOS_SERVICE_NAME}'
      BNB_SUBSONIC_URL: 'https://${NAVIDROME_DOMAIN}'
      BNB_LOG_LEVEL: 'info'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.bonob.rule=Host(`${BONOB_DOMAIN}`)'
      - 'traefik.http.routers.bonob.entrypoints=websecure'
      - 'traefik.http.routers.bonob.tls=true'
      - 'traefik.http.routers.bonob.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.bonob.tls.domains[0].main=${BONOB_DOMAIN}'
      - 'traefik.http.routers.bonob.middlewares=local-only@file'
      - 'traefik.http.services.bonob.loadbalancer.server.port=4534'
    healthcheck:
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

networks:
  default-frontend:
    external: true
