name: PR Auto-Merge

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - ready_for_review

jobs:
  auto-merge:
    runs-on: ubuntu-latest

    if: github.actor == 'raeffs'|| github.actor == 'renovate[bot]'

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Enable Auto-Merge for trusted Authors
        run: gh pr merge ${{ github.event.pull_request.number }} --rebase --auto --delete-branch
        env:
          GH_TOKEN: ${{ secrets.PAT }}
